.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  overflow-y: auto;
  display: none;
}

.modal_open {
  display: flex;
}

.modal__main {
  position: relative;
  cursor: default;
  margin: auto;
}

.modal__close {
  position: absolute;
  color: #b1b1b1;
  top: 10px;
  right: 10px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 3px;
  transition: color .2s ease-in;
}

.modal__close:hover {
  color: #ff7020;
}

.modal__close:focus-visible {
  color: #ff7020;
  outline-color: #ff7020;
}

@media (min-width: 480px) {
  .modal {
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  .modal {
    padding: 24px;
  }

  .modal__close {
    top: 24px;
    right: 24px;
  }
}
